/****************************************
 * Cornell University IWS
 * Main CSS Rules
 ****************************************/
 
/****************************************
 * General Formatting
 ****************************************/

body {
 	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 75.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	color: #222;
	background: #d7d6d1;	/* footer background color */
 	}
 
/****************************************
 * Cornell Identity
 ****************************************/
#cu-identity {
	height: 45px;
	background: #b31b1b;
	}

#cu-logo {
	margin: 0 auto;
	width: 760px;
	background: url(/images/layout/cu_logo.gif) no-repeat top left;
	}
	
#cu-logo a {
	border: none;
	display: block;
	width: 180px;
	height: 45px;
	background: url(/images/layout/cu_logo.gif) no-repeat top left;
	}
	
#cu-logo img {
	display: none;
	}
	
#cu-search {
	position: absolute;
	top: 11px; 
	right: 50%;
	width: 200px;
	margin-right: -385px;
	}
	
#cu-search a {
	float: right;
	padding: 5px 15px;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	border: none;
	}
	
#cu-search a:hover {
	background: #990f26;
	}
 
/****************************************
 * Header
 ****************************************/
 
#identity {
	padding: 5px 0 8px 0;
	background: #fff;
	}
 
#identity h1 {
	margin: 0 auto;
	width: 760px;
/*	font-family: georgia, "times new roman", times, serif;
	font-size: 2.4em;
	font-weight: normal;
	color: #73736c;*/
	}
	
#identity h1 a {
	display: block;
	width: 200px;
	height: 36px;
	background: transparent url(/images/netprint.gif) no-repeat left top;
	border: none;
	} 
	
/*
	Main Navigation 
	-------------------------
*/

#header {
	float: left;
	width: 100%;
	background: #b3b3aa;
	}
	
#navigation {
	margin: 0 auto;
	width: 760px;
	}
	
#navigation ul {
	float: left;
	margin: 0;
	padding: 0;
	border-left: 1px solid #a6a69d;
	width: 759px;
	font-size: 1em;
	}
	
#navigation li {
	margin: 0;
	padding: 0;
	float: left;
	background: none;
	}
	
#navigation a {
	float: left;
	padding: 7px 20px;
	border: none;
	border-right: 1px solid #a6a69d;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	}
	
#navigation a:hover {
	background: #dbdbd2;
	color: #b31b1b;
	}
	
#navigation a.active {
	background: #dbdbd2;
	color: #b31b1b;
	}
	
/****************************************
 * Secondary Navigation Horizontal View
 ****************************************/	
#secondary-navigation {
	float: left;
	width: 100%;
	background: #dbdbd2;
	padding: 6px 0;
	border-bottom: 1px solid #b3b3aa;
	font-family: Arial, Helvetica, sans-serif;
	}
	
#secondary-navigation ul {
	margin: 0 auto;
	width: 760px;
	}

#secondary-navigation li {
	float: left;
	font-size: 0.96em;
	background: none;
	margin: 0;
	padding: 0 14px 0 0;
	}
	
#secondary-navigation a {
	padding: 0 0;
	border: none;
	text-decoration: underline;
	}
	
#secondary-navigation a:hover, #secondary-navigation a.active {
	color: #000;
	}
 
/****************************************
 * Content Sections
 ****************************************/
#wrap {
	float: left;
	width: 100%;
	background: #f0eee4;
	}
 
#content {
	margin: 0 auto;
	width: 760px;
	}
	
#main {
	float: right;
	padding: 20px 0 20px 0;
	width: 100%;
	/* min-height:500px;
	height:auto !important;
	height:500px; */
	}
 
/****************************************
 * Text Styles
 ****************************************/
 
h2 {
	margin: 0 0 15px 0;
	float: left;
	width: 100%;
	font-size: 1.8em;
	font-weight: normal;
	}
	
h3 {
	clear: both;
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	font-weight: bold;
	}
	
h4 {
	margin: 15px 0 3px 0;
	font-size: 1.2em;
	font-weight: bold;
	}
	
/* 
	Text
	-------------------------
	Paragraphs of text, extended quotations, and captions
*/

p, pre {
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.6em;
	}

p.noflow, pre.noflow {
	float: left;
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.6em;
	}
	
blockquote {
	margin: 0 30px;
	}
	
/* captions */
	
.caption {
	font-size: 1.1em;
	line-height: 1.5em;
	color: #666;
	}

.important {
/*	text-align: center; */
	background-color: rgb(255, 255, 102);
	color: rgb(255, 0, 0);
	}

p.error {
	float: right;
	width: 100%;
	margin: 0 0 1px 0;
	padding: 2px 0 2px 6px;
	background-color: #FDD;
	}

	
/* 
	Lists 
	-------------------------
*/
	
ul, ol {
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
ul ul, ul ol, ol ol, ol ul {
	font-size: 1.0em;
	}
	
ul li {
	margin: 5px 0;
	padding: 0 0 0 30px;
	list-style: none;
	background: url(/images/layout/bullet.gif) no-repeat 18px 0.65em;
	}
 
ol li {
	margin: 5px 0 5px 30px;
	}
 
dl {
	margin: 0 0 15px 0;
	line-height: 1.4em;
	}
	
dt {
	margin: 0 0 3px 0;
	font-size: 1.2em;
	font-weight: bold;
	}
	
dd {
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
/* 
	Links 
	-------------------------
	Links are displayed as dark red text. The underline is replaced by a 
	lighter bottom border. Visited links have less contrast than unvisited 
	links. Both visited and unvisited links turn bright red when moused over,
	and they return to their normal state when selected.
*/

a {
	color: #b31b1b;
	}
	
a:visited {
	color: #b37474;
	}
	
a:hover {
	color: #f00;
	}
	
a:active {
	color: #b31b1b;	
	}
	
/****************************************
 * Images
 ****************************************/

img {
	border: 0;
	}
td img {
	display: block;
}
 
/****************************************
 * Tables
 ****************************************/

table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1.1em;
	}
	
table {
	float: left;
	margin: 10px 0;
	border-bottom: 1px solid #e7e7e7;
	width: 760px;
	}
	
th, td {
	padding: 0 4px 5px 4px;
	text-align: left;
	color: #000;
	vertical-align: bottom;
	}
	
td, tbody th {
	padding: 2px 4px;
	border-top: 1px solid #e7e7e7;
	font-size: 1.1em;
	line-height: 1.5em;
/*	vertical-align: top; */
	vertical-align: middle;
	}

tbody th {
	font-weight: bold;
	color: #222;
	}
	
.row1, .row1 td, .row1 th {
	background: #fff;
	} 
	
.blockhead, .row1 th {
	background: #e8e8e0;
	} 
	
.row2, .row2 td, .row2 th {
	background: #fafaf7;
	}
	
.row1alt, .row1alt td, .row1alt th {
	background: #bbffbb;
	} 
	
.row2alt, .row2alt td, .row2alt th {
	background: #ccffcc;
	} 

.tleft, .tleft td, .tleft th {
	text-align: left;
	}

.tcenter, .tcenter td, .tcenter th {
	text-align: center;
	}

.tright, .tright td, .tright th {
	text-align: right;
	}
	
tfoot td {
	font-weight: bold;
	}

caption {
	margin: 0 0 15px 0;
	text-align: left;
	color: #888;
	font-size: 1.1em;
	}
	
/* wide tables */
	
.wide-table {
/*	width: auto; */
	margin: 0 0 15px 0;
	clear: both;
	margin: 0 auto;
	margin-bottom: 40px;
/*	margin-top: -18px; */
	}

.wide-table td, .wide-table th {
	/* padding: 8px 4px; */
	font-size: 1.0em;
	}
	
/* small tables */
.small-table {
	float: left;
	margin: 0 0 15px 0;
	width: 510px;
	}
	
.variable-table {
	float: left;
	margin: 15px 0;
	border-bottom: 1px solid #e7e7e7;
	width: auto;
	}
	
td.printeroff, td.printeron {
	background-image: url(/images/layout/red-dot2.gif);
	background-repeat: no-repeat;
	background-position: 1.7em 50%;
/* Putting these all together on one line causes problems for IE */
/*	background: url(/images/layout/red-dot2.gif) no-repeat 1.7em 50%; */
}

td.printeron {
	background-image: url(/images/layout/green-dot2.gif);
}
	
td.idleoff, td.idleon {
	width: 12px;
	background-image: url(/images/layout/red-dot2.gif);
	background-repeat: no-repeat;
	background-position: 0.5em 50%;
}

td.idleon {
	background-image: url(/images/layout/green-dot2.gif);
}

	 
/****************************************
 * Forms
 ****************************************/

form {
	float: left;
	margin: 5px 0 15px 0;
	padding: 0;
/*	width: 510px; */
	}
	
fieldset {
	float: left;
	margin: 0;
	padding: 10px 0 15px 0;
	width: 760px;
	border: none;
	border-top: 1px solid #e7e7e7;
	}
	
fieldset.table {
	width: 760px;
	padding: 0 0 15px 0;
	border-top: 0;	
	}	
	
form h3 {
	margin: 0 15px 5px 15px;
	}
	
form h3.flushleft {
	margin: 0 0 5px 0;
	}	
	
form table {
	float: left;
	margin: 0;
	border-bottom: 1px solid #e7e7e7;
	width: 100%;
	}
	
.form-pair {
	display: inline;	/* prevent ie6/win from doubling margins */
	float: left;
	margin: 5px 15px 0 15px;
	width: 730px;
	}
	
.form-item {
	float: left;
	margin-top: 5px;
	width: 250px;
	padding: 0 5px 0 0;
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: right;
	}	
	
.form-item-long {
	float: left;
	margin-top: 5px;
	width: 370px;
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: right;
	}
	
.form-item-long-alt {
	float: left;
	margin-top: 5px;
	width: 370px;
	font-size: 1.3em;
	line-height: 1.6em;
	text-align: left;
	}
	
.form-value {
	float: right;
	margin-top: 5px;
	width: 470px;
	font-size: 1.2em;
	line-height: 1.5em;
	}
	
.form-value-long {
	float: right;
	margin-top: 5px;
	width: 360px;
	font-size: 1.2em;
	line-height: 1.5em;
	}
	
.form-value-long-alt {
	float: right;
	margin-top: 5px;
	width: 350px;
	font-size: 1.2em;
	line-height: 1.5em;
	}

.checklist {
	margin: 0;
	font-size: 1em;
	}

.checklist li {
	margin: 0 0 5px 0;
	padding: 0;
	background: none;
	}
	
.input-text, select, textarea {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	}

.form-submit {
	border-top: none;
	background: #dbdbd2;
	}
	
.form-submit-buttons {
	text-align: right;
	padding-right: 15px;
	}
	
.form-submit-buttons .input-reset {
	margin-right: 5px;
	}
	
.input-submit, .input-reset, .input-test {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.3em;
	}
	
.input-submit {
	font-weight: bold;
	}

.input-test {
	float: left;
	margin-left: 15px;
}

.clear {
	display: block;
	float: left;
	clear: both;
	}
 
/****************************************
 * Spacers
 ****************************************/

.blank {
	float: left;
	width: 760px;
	height: 30px;
}


/****************************************
 * Footer
 ****************************************/

#footer {
	float: left;
	width: 100%;
	font-size: 0.9em;
	}
	
#footer-content {
	margin: 0 auto;
	padding: 15px 0 25px 0;
	width: 760px;
	font-size: 0.9em;
	color: #333;
	}
	
#footer-content ul {
	float: left;
	margin: 0 0 12px 0;
	padding: 0;
	width: 100%;
}

#footer-content li {
	float: left;
	margin: 0;
	padding: 0 9px;
	background-image: none;
	border-left: 1px solid #a6a69d;
}

#footer-content li.first {
	padding: 0 9px 0 0;
	border-left: none;
}

#footer-content p {
	float: left;
	margin-bottom: 22px;
}
 
/****************************************
 * Miscellaneous
 ****************************************/

#skipnav, #identity h1 a em, td.printeroff span, td.printeron span {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
	
hr {
	display: none;
	}

hr.real {
	display: block;
	margin: 30px 0;
}